<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- Set up Latest Mars News -->
        <div class="row" id="content">
            <div class="col-md-8">
                <h4 class="heading">{{XXX.titles}} </h4>
                <p>{{XXX.paragraphs}}</p>
            </div>

            <!-- Set up Featured Image -->
            <div class="col-md-8">
                <h4 class="heading">{{XXX.titles}} </h4>
                <p>{{XXX.featured_image}}</p>
            </div>

            <!-- Set up Mars Facts Table -->
            <div class="col-md-4">
                <h4 class="heading">{{XXX.titles}} </h4>
                <p>{{XXX.featured_image}}</p>
            </div>

        </div>

        <!-- write a for loop that displays the high res hemisphere images. -->
        {% for image in hemisphere_image_urls %}
        <span class="col-lg-4">
            <span class="card" style="width: 20rem;">
                <span class="card-body">
                  <h4 class="card-title">{{ url.title }}</h4>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">Cost: {{ item.cost }}</h6>
                  <p class="card-text">Potential Revenue: {{ item.cost * item.stock}}</p> -->
                </span>
            </span>
        </span>
        {% endfor %}
        
    </div>

</body>

</html>
